.content-block {
	display: flex;
	flex-direction: column;
	gap: var(--block-spacer);

	.content-block-header {
		display: flex;
		align-items: baseline;
		gap: var(--spacer-2);
		padding-bottom: var(--spacer-2);
		border-bottom: var(--border-default);
		display: flex;

		.content-block-title {
			margin-bottom: 0;
			display: flex;
			align-items: center;
			font-weight: bold;
			margin-bottom: 0;
		}
	}

	.content-block-body {
		display: flex;
		flex-direction: column;
		gap: var(--block-spacer);
	}
}
